.profile {
    display: flex;
    align-items: center;

    > img {
        width: 88px;
        height: 88px;
        border-radius: 50%;
        border: 2px solid var(--red);
    }

    > div {
        display: flex;
        flex-direction: column;
        margin-left: 1.3rem;

        strong {
            font: 600 22px 'Lexend', sans-serif;
            color: var(--black-titles);
        }

        p {
            font: 400 14px 'Lexend', sans-serif;
            margin-top: 0.5rem;   
        }
    }
}