* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue1: #5965E0;
    --blue2: #4953B8;
    --green: #4CD62B;
    --red: #E83F5B;
    --black-titles: #2E384D;
    --gray: #DCDDE0;
    --background: #F2F3F5;
    --white: #FFFFFF;
}